<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new password</title>
</head>
<body>
    <h1>Please set new password</h1>
    <hr>
    <form action="{% url 'login_app:password_reset_form' %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="confirm_password" placeholder="Confirm password">
        <input type="hidden" name="secret" value="{{ secret }}">
        <input type="submit" value="Create new password">
    </form>
    <hr>
    {% if error %}{{ error }}{% endif %}
    
</body>
</html>