<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking system</title>
</head>
<body>
    <h1>Hi {{ user.username }}</h1>
    <p>Here are your accounts:</p>
    <ul>
    {% for account in accounts  %}
        <li>{{ account.text }}</li>
    {% endfor %} 
    </ul>

    <hr />
    <form action="." method="POST">
       {% csrf_token %}
       <input type="text" name="text" placeholder="Give the account a name" />
       <button>Create a new account</button>
    </form>
</body>
</html>