<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'banking_system_app/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'banking_system_app:bank' %}">Home</a></li>
            <li><a class="active" href="{% url 'banking_system_app:sign_up' %}">Register new customer</a></li>
        </ul>
    </nav>
    <h1>Sign up</h1>
    <hr>

    <form action="{% url 'banking_system_app:sign_up' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="firstname" placeholder="First Name">
        <input type="text" name="lastname" placeholder="Last Name">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <input type="email" name="email" placeholder="email">

        <input type="tel" name="phone" placeholder="Phone">
        <br>
        <select name="role">
            <option value="customer">Customer</option>
            <option value="employee">Bank employee</option>
        </select>
        <br>
        <select name="membership">
            <option value="basic">Basic</option>
            <option value="silver">Silver</option>
            <option value="gold">Gold</option>
        </select>
        
        <br>
        <input type="submit" value="Create customer">
    </form>
    
</body>
</html>